/* Main container layout */
.product-main-container {
  padding: 20px;
  background: #f9f9f9;
}



/* Form elements */
.addproduct-form {
  display: flex;
  gap: 30px;
}

.addproduct-form label {
  font-weight: 600;
  color: #838383;
  display: block;
  margin-bottom: 10px 0;
}

.addproduct-form input,
.addproduct-form textarea,
.addproduct-form select {
  width: 97%;
  padding: 0.7rem 0.9rem;
  margin: 10px 0;
  font-size: 1rem;
  border-radius: 3px;
  outline: none;
  border: 1px solid #ddd;
  transition: all 0.2s ease;
}

.addproduct-form input:focus,
.addproduct-form textarea:focus,
.addproduct-form select:focus {
  border-color: #065cb7;
  box-shadow: 0 0 0 2px rgba(133, 192, 255, 0.1);
  border-radius: 3px;
  transition: all 1s;
}


/* Left and right side panels */

.product-left-side {
  flex: 2;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Headings */
.product-left-side h2 {
  font-size: 30px;
  margin-bottom: 1rem;
  color: #1b007d;
  font-weight: bold;
}


/* Price */
.product-pricesection {
  display: flex;
  gap: 80px;
}

.product-price,
.product-discount-price {
  width: 40%;
}


/* Price wrapper (₹ + input) */
.product-price-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-price-wrapper span {
  font-size: 1.1rem;
  font-weight: bold;
  color: #444;
}

/* product Seller Details */
.product-phone-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 97%;
}

.product-phone-container span {
  font-weight: 600;
  font-size: 1rem;
}

.product-phone-container input {
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px !important;
  outline: none;
  transition: all 0.3s ease;
}

.product-phone-container input:focus {
  border-color: #00367030;
  box-shadow: 0 0 0 2px rgba(133, 192, 255, 0.1);
  border-radius: 6px;
  transition: all 1s;
}



/* Buttons */
.product-submit-button {
  background-color: #ffc107;
  color: #fff;
  padding: 0.9rem 1.2rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 5px;

}


/* Sections spacing */

.product-address {
  margin: 20px 0;
  width: 100%;
}

.product-address input {
  width: 100%;
}

.product-address-mini {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  gap: 30px;
}

.product-address-mini input {
  width: 100%;
}


/* ---------------------------------------------- */
/* right side */
.product-right-side {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  color: #1b007d;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* --------------------------------- */
/* image-container */
.product-image-container {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 20px;
}

/* image left */
.product-left-image {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-image-container .product-left-image {
  width: 30%;
}

.product-left-image div {
  display: flex;
  flex-direction: column;
}

.product-left-image .product-image {
  border: 1px solid gray;
  border-radius: 3px;
  height: 130px;
  width: 120px;
}


/* --------------------------------- */
/* image right */
.product-right-image {
  display: flex;
  flex-direction: column;
}

.product-right-image .product-image {
  border: 1px solid gray;
  border-radius: 3px;
  height: 400px;
}

.product-right-image p {
  font-size: 16px;
  font-weight: bold;
}

/* product images  */
.product-image-container input {
  height: 100%;
}

/* Error messages */
.imageError {
  color: red;
  font-size: 12px;
  margin: 4px 0 0 3px;
}






@media screen and (max-width: 1320px) {
  .product-left-side {
    flex-grow: 2;
  }

  .addproduct-form {
    flex-direction: column;
  }

  /* image */
  .product-image-container {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  /* right images */
  .product-left-image .product-image {
    height: 160px;
    width: 320px;
  }
}

@media screen and (max-width: 580px) {
  .product-main-container {
    padding: 2px;
  }

  .addproduct-form input,
  .addproduct-form textarea,
  .addproduct-form select {
    padding: 6px 10px;
  }

  .addproduct-form label,
  .addproduct-form input,
  .addproduct-form select {
    font-size: 14px;
  }

  /* left side */

  .product-left-side {
    padding: 4px 8px;
  }

  .product-left-side h2 {
    font-size: 17px;
  }


  .product-pricesection {
    gap: 30px;
    margin-bottom: 50px;
  }

  /* Shipping address */

  .product-address {
    margin-top: 50px;
    line-height: 1px;
  }

  .product-address input {
    width: 100%;
  }

  .product-address-mini {
    gap: 6px;
    flex-wrap: nowrap;
  }

  /* right images */
  .product-right-image .product-image {
    width: 250px;
  }

  .product-left-image .product-image {
    height: 120px;
    width: 210px;
  }
}

@media screen and (max-width: 580px) {

  /* image */
  .product-image-container {
    flex-direction: column;
    justify-content: flex-start;
  }

  .product-address-mini {
    flex-wrap: nowrap;
  }

}