.cart-container {
  width: 100%;
  padding: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.cart-item div {
  display: flex;
  align-items: center;
}

.cart-item div:first-child {
  flex: 1;
}

.cart-item img {
  width: 100px;
}

.cart-item h5 {
  font-size: 1rem;
  margin-bottom: 4px;
}

.cart-item .quantity button {
  padding: 4px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #f8f8f8;
  cursor: pointer;
}

.cart-item .quantity span {
  font-weight: 600;
}

.remove-btn {
  border: none;
  background: transparent;
  color: #d32f2f;
  font-size: 1.2rem;
  cursor: pointer;
}

.continue-shoping {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-top: 1rem;
  color: #fff;
  border-radius: 6px;
  background-color: #ffc107;
  font-weight: 600;
  padding: 10px 20px;
  transition: 0.3s;
}

.summary-card {
  border-radius: 10px;
}

.checkout {
  width: 100%;
  margin-top: 1rem;
  color: #fff;
  border-radius: 6px;
  background-color: #ffc107;
  font-weight: 600;
  padding: 10px;
  transition: 0.3s;
}


/* Login required */
.cart-login-prompt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 84vh; 
}

.cart-login-box {
  text-align: center;
  padding: 40px 30px;
  background-color: #ffffff;
  border-radius: 12px;
  width: 420px;
  box-shadow: 
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 1px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cart-login-box h2 {
  font-size: 24px;
  color: #333333;
  margin-bottom: 15px;
}

.cart-login-box p {
  font-size: 16px;
  color: #666666;
  margin-bottom: 25px;
}

.cart-login-btn {
  padding: 10px 25px;
  background-color: #0d6efd; /* Bootstrap primary blue */
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.cart-login-btn:hover {
  background-color: #0b5ed7;
}



@media screen and (max-width: 720px) {
  .cart-container {
    padding: 2px;
  }

  .cart-item {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  .cart-item div {
    width: 100%;
    align-items: space-between;
  }

  .cart-item2 {
    padding: 0 20px;
  }
}