* {
    box-sizing: border-box;
}


/* For IE/Edge (legacy) */
html {
  -ms-overflow-style: none;
}
body{
    scroll-behavior: smooth;
}

/* Hide arrows in Chrome, Edge, Safari */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
